.contacte{
    background: #47A992;
}
.contacte > h2{
    color: rgb(253, 253, 130);
}

.contacte-card{
    box-shadow: var(--shadowBox);
}
.contacte-card > form{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    gap: 1rem;
    /*font-size: clamp(1rem, 4vw, 1.2rem);*/
}
.contacte-card > form > div {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.contacte-card > form > h4{
    text-align: center;
    padding: 0.5rem;
    background-color: #47a9928a;
    border-radius: 5px;
    color: white;
}
.contacte-card > form > p {
    color: rgb(87, 87, 87);
}
.contacte-card > form > div > label{
    color: #424242;
    margin: 0;
}
.contacte-card > form > div > input, textarea{
    color: #424242;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: clamp(0.8rem, 4vw, 1rem);
    padding-left: 0.3rem;
    border-radius: 5px;
}
.contacte-card > form > div > input{
    height: 2.25rem;
}
.contacte-card > form > div > textarea{
    resize: none;
}
.contacte-card > form > div > button{
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #1b6e5b;
    transition: background-color 0.5s;
    font-size: var(--mediumCardSize);
}
.contacte-card > form > div > button:hover{
    background-color: #1b8d72;
    transition: background-color 0.5s;
}
.contacte-card2-tittle{
    border-radius: 5px;
    box-shadow: var(--shadowBox);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
}
.contacte-card2{
    display: flex;
}
.contacte-card2 > a {
    width: 20%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: clamp(1rem, 4vw, 2rem);
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-style: normal;
    box-shadow: var(--shadowBox);
    color: rgb(73, 73, 73);
    transition: background-color 0.5s, color 0.5s;
}

.contacte-card2 > a > img{
    width: clamp(1.5rem, 4vw, 4rem);
    height: clamp(1.5rem, 4vw, 4rem);
}
.contacte-card2 > a > h4{
    width: 50%;
    align-self: center;
}