.mainCard{
    display: flex;
    flex-direction: column;
    /*
    justify-content: center;
    border: 3px solid pink;
    padding: 5vh 0;
    */
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.mainCard-title{
    /*
    border: 1px solid green;
    */
    font-size: var(--titleCardSize);
    min-height: 15vh;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    font-family: ubuntu-regular;
    text-align: center;
    white-space: nowrap;
}
.mainCard-content{
    /*
    min-height: 85vh;
    border: 1px solid blue;
    */
    margin-bottom: 5vh;
    min-height: 75vh;
    width: 90%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.mainCard-content-single{
    /*
    border: 1px solid blue;
    */
    width: 90%;
    display: flex;
    gap: 2rem;
    height: 85vh;
    align-items: center;
}
.mainCard-content-vertical{
    /*
    border: 1px solid blue;
    */
    width: 90%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 2rem;
}
.mainCard-content > div {
    /*
    border: 1px solid red;
    */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mainCard-content-center{
    align-self: center;
}
.mainCard-half-content{
    width: 100%;
    justify-content: center;
}
.mainCard-content-image{
    /*
    border: 3px solid white;
    */
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50%;
}