/* MOBILE*/
@media only screen and (max-width: 800px) {
    .mainCard{padding-top: 6vh;}
    .mainCard-content{flex-direction: column;}
    .btn-laptop{display: none;}
    .contacte-card2 > a > h4{display: none;}
    nav{padding-top: 0;}
    .navBar-item{display: none; background-color: rgba(255, 255, 255, 0.9);}
    .navBar-menu{
        color: rgba(19, 89, 146, 0.9);
        width: 100% ;
        flex-direction: column; 
        gap: 0;
        font-size: clamp(1.5rem, 4vw, 2rem); 
        justify-content: center;
    }
}
/*DESKTOP*/
@media only screen and (min-width: 800px) {
    .menu-image{display: none;}
    .mainCard-content > div {width: 50%;}
    .mainCard-content-image{width: 60%;}
    .serveis-card > p, .serveis-card > h3{padding: 1rem 5rem;}
    .singleCard-title, .singleCard-includes{padding: 1rem 5rem;}
    .contacte-card2{flex-direction: column;}
    .contacte-card2 > a {width: unset; margin: unset;}
    .contacte-card2{gap: clamp(1rem, 4vw, 2rem);}
    .contacte-card2 > a:hover{
        color: white;
        background-color: #1b8d7250;
        transition: background-color 0.5s, color 0.5s;
    }
}