.text-card{
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    /*aspect-ratio: 3 / 2;*/
}
.text-card-white{
    background-color: rgba(255, 255, 255, 0.5);
}
.text-card > p{
    color: rgb(5, 54, 146);
    line-height: 1.6;
    font-size: clamp(0.8rem, 4vw, 1.2rem);
}

.serveis-card{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.serveis-card > h3{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    cursor: pointer;
}
.serveis-card > p{
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.2);
}
